{name, "rabbitmq_server"}.
{description, "RabbitMQ AMQP Server"}.
{homepage, "http://www.rabbitmq.com/"}.
{license, "Mozilla Public License 1.1", "LICENSE-MPL-RabbitMQ"}.
{url, {all, 
        [{"rabbitmq-server", {git, "https://github.com/rabbitmq/rabbitmq-server.git", {branch, "master"}}},
         {"rabbitmq-codegen", {git, "https://github.com/rabbitmq/rabbitmq-codegen.git", {branch, "master"}}}
        ]
      }}.
{build_command, "cd rabbitmq-server && make && ln -s `pwd`/ebin ../ebin"}.
{install_command, "cd rabbitmq-server && cp INSTALL.in INSTALL && TARGET_DIR=$AGNER_INSTALL_PREFIX SBIN_DIR=$AGNER_INSTALL_PREFIX/sbin MAN_DIR=$AGNER_INSTALL_PREFIX/man make install"}.
{applications, [rabbit]}.
